//regular fonts

@font-face {
    font-family: 'webfont_bold';
    src: url('fonts/caecilialtstd-bold-webfont.eot');
    src: url('fonts/caecilialtstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caecilialtstd-bold-webfont.woff') format('woff'),
         url('fonts/caecilialtstd-bold-webfont.ttf') format('truetype'),
         url('fonts/caecilialtstd-bold-webfont.svg#webfont_bold') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'webfont';
    src: url('fonts/caecilialtstd-roman-webfont.eot');
    src: url('fonts/caecilialtstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caecilialtstd-roman-webfont.woff') format('woff'),
         url('fonts/caecilialtstd-roman-webfont.ttf') format('truetype'),
         url('fonts/caecilialtstd-roman-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'webfont_light';
    src: url('fonts/caecilialtstd-light-webfont.eot');
    src: url('fonts/caecilialtstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caecilialtstd-light-webfont.woff') format('woff'),
         url('fonts/caecilialtstd-light-webfont.ttf') format('truetype'),
         url('fonts/caecilialtstd-light-webfont.svg#webfont_light') format('svg');
    font-weight: normal;
    font-style: normal;
	}



//Italic Webfonts

@font-face {
    font-family: 'webfont_bold_italic';
    src: url('fonts/caecilialtstd-bolditalic-webfont.eot');
    src: url('fonts/caecilialtstd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caecilialtstd-bolditalic-webfont.woff') format('woff'),
         url('fonts/caecilialtstd-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/caecilialtstd-bolditalic-webfont.svg#webfont_bold') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'webfont_italic';
    src: url('fonts/caecilialtstd-italic-webfont.eot');
    src: url('fonts/caecilialtstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caecilialtstd-italic-webfont.woff') format('woff'),
         url('fonts/caecilialtstd-italic-webfont.ttf') format('truetype'),
         url('fonts/caecilialtstd-italic-webfont.svg#webfont_italic') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'webfont_light_italic';
    src: url('fonts/caecilialtstd-lightitalic-webfont.eot');
    src: url('fonts/caecilialtstd-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caecilialtstd-lightitalic-webfont.woff') format('woff'),
         url('fonts/caecilialtstd-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/caecilialtstd-lightitalic-webfont.svg#webfont_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;
	}


