// -----------------------------------------
	// Layout Sizes
// -----------------------------------------
$maxWidth: 1280;

// -----------------------------------------
	// color variables
// -------------------------------------------
// greens
$darkGreen: #65952d;
$lightGreen: #dbedcd;

// blues
$blue: #4dbdcb;
$darkBlue: #568387;
$lightBlue: #aad8dd;

// greys
$grey: #696969;
$lightGrey: #cccccc;
$lightGreyBG: #f9f9f9;
$darkGrey: #333333;
$mediumGrey: #8f9499;

// -----------------------------------------
	// Fonts
// -------------------------------------------
$webfont: 'webfont', Helvetica, Arial, sans-serif;
$webfont_bold: 'webfont_bold', Helvetica, Arial, sans-serif;
$webfont_light: 'webfont_light', Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;

// -----------------------------------------
	// Font Sizes
// -------------------------------------------
$regularSize:12;
$productHeading:28;
$productBannerHeading:25;